Q1. Create one variable containing following type of data:

(i) string

(ii) list

(iii) float

(iv) tuple

In [2]:
str_var = "Vimal"
list_var = [1, 2, 3, 4.5, "vimal"]
float_var = 10.45
tuple_var = (10, 20, "DS", "ML", 30.40)

print(type(str_var))
print(str_var)
print(type(list_var))
print(list_var)
print(type(float_var))
print(float_var)
print(type(tuple_var))
print(tuple_var)

<class 'str'>
Vimal
<class 'list'>
[1, 2, 3, 4.5, 'vimal']
<class 'float'>
10.45
<class 'tuple'>
(10, 20, 'DS', 'ML', 30.4)

Q2. Given are some following variables containing data:

(i) var1 = ‘ ‘

(ii) var2 = ‘[ DS , ML , Python]’

(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]

(iv) var4 = 1.

What will be the data type of the above given variable?

In [3]:
"""
The data type of above given variables are as follows:
(i) string
(ii) String
(iii) List
(iv) Integer
"""

var1 = ''
var2 = '[DS , ML , Python]'
var3 = ['DS', 'ML', 'Python']
var4 = 1

print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'int'>

Q3. Explain the use of the following operators using an example:

(i) /

(ii) %

(iii) //

(iv) **

In [4]:
a = 3
b = 2

operator1 = a / b     #Operator1 (/) is division operator.
operator2 = a % b     #Operator2 (%) is Modulus operator. It is used to get the remainder of a division.
operator3 = a // b    #Operator3 (//) is floor division operator. It gives the result of division as the nearest whole number.
operator4 = a ** b    #Operator4 (**) is an exponent operator. It will produce result of 3**2 as 3*3=9.

print(operator1)
print(operator2)
print(operator3)
print(operator4)

1.5
1
1
9

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [6]:
L = [10, 20, 30, 50.78, 70.40, "Python", "DS", "ML", True, False]

for i in L:
  print(i)
  print(type(i))

10
<class 'int'>
20
<class 'int'>
30
<class 'int'>
50.78
<class 'float'>
70.4
<class 'float'>
Python
<class 'str'>
DS
<class 'str'>
ML
<class 'str'>
True
<class 'bool'>
False
<class 'bool'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [26]:
A = int(input("Enter Number A: "))
B = int(input("Enter Number B: "))

while(A % B == 0):
  print("Number A is purely divisible by Number B")
  print("It is divisible by {} times".format(int(A/B)))
  break
else:
  print("Number A is not purely divisible by Number B")

Enter Number A: 10
Enter Number B: 2
Number A is purely divisible by Number B
It is divisible by 5 times

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [28]:
L2 = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]

for idx in L2:
  if ((idx % 3)==0):
    print("{} is divisible by 3".format(idx))
  else:
    print("{} is not divisible by 3".format(idx))

1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property

In [30]:
"""
Mutable data types are those that allow to change their value at a particular index. For ex. List.
In contrast, immutable data types don't allow this kind of operation. For ex. tuple.
"""

#Example of Mutable data type
L3 = [1, 3, 5, 7]
L3[0] = 9
print(L3)

#Example of immutable data type
L3 = (1, 3, 5, 7)
L3[0] = 9
print(L3)

[9, 3, 5, 7]

TypeError: ignored